@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.buttons {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  @include m.breakpoint(v.$md) {
    left: 1rem;
    transform: none;
  }
}

.language {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(242, 240, 237, 0);
  color: rgb(var(--foreground-rgb));
  font-family: v.$sans;
  font-size: 10.2px;
  letter-spacing: 0.25em;
  line-height: 1.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &.current {
    border-bottom: 1px solid rgb(var(--foreground-rgb));
  }
}
