@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.buttons {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 100;
  margin-top: 1rem;
  gap: 0.5rem;
}

.language {
  border-radius: 0;
  border: none;
  border: 1px solid transparent;
  background-color: rgba(242, 240, 237, 0);
  color: rgb(var(--foreground-rgb));
  font-family: v.$sans;
  font-size: 10.2px;
  letter-spacing: 0.25em;
  line-height: 1.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 12px 10px 8px 11px;
  position: relative;
  transition: all 0.2s ease;

  &.current {
    border: 1px solid rgb(var(--foreground-rgb));
  }

  &:hover,
  &:focus {
    border: 1px solid transparent;
    background-color: white;
  }
}
