@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.btn {
  display: inline-block;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
  padding: 1.2rem 2rem 1rem;
  text-transform: uppercase;
  font-family: v.$sans;
  font-size: 10.2px;
  line-height: 1;
  letter-spacing: 0.25em;
  margin-bottom: 1rem;

  @include m.breakpoint(v.$md) {
    margin-bottom: 2rem;
  }

  &:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
  }
}
