@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.form {
  padding: 2rem 0;

  label {
    display: block;
    font-weight: 600;
  }

  input {
    border: none;
    height: 42px;
    margin: 0.5rem 0 1rem;
    font-size: 16px;
    letter-spacing: 0.75px;
    text-align: center;
    width: 100%;

    @media (prefers-color-scheme: dark) {
      border: 1px solid rgb(var(--foreground-rgb));
    }

    &:focus-visible {
      outline: 1px solid rgb(var(--foreground-rgb));
    }
  }
}

.success {
  padding: 2rem 0;

  b {
    @include m.type-tiny;
    font-weight: normal;
    text-transform: uppercase;
  }
}
