@use 'styles/variables' as v;
@use 'styles/mixins' as m;

.inner {
  margin-bottom: 2rem;

  h1 {
    margin: 2rem auto;

    @include m.breakpoint(v.$md) {
      margin: 4rem auto;
    }
  }

  p {
    margin-bottom: 2rem;
  }
}
