@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;

  @include m.breakpoint(v.$md) {
    padding: 6rem;
  }
}

.language {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 8px 10px 5px;
  border-radius: 20px;
  background-color: rgba(242, 240, 237, 1);

  font-family: v.$sans;
  font-size: 10.2px;
  letter-spacing: 0.25em;
  line-height: 1.7em;
}
