@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.tiny {
  font-family: v.$sans;
  font-size: 10.2px;
  letter-spacing: 0.25em;
  line-height: 1.7em;
}

.top {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-transform: uppercase;
  width: 100%;

  .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.middle {
  margin: 0 auto;
  max-width: 500px;
  -webkit-font-smoothing: antialiased;

  p {
    line-height: 1.5;
    margin-bottom: 1rem;
  }
}

.bottom {
  width: 100%;

  p {
    font-size: 1rem;
    margin: 0 auto 2rem;
    max-width: 550px;
    text-wrap: balance;
    line-height: 1.4;
  }
}

.step1 {
  width: 100%;
}
