@use 'variables' as v;
@use 'mixins' as m;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 60px 30px 30px;
}

.hero {
  background-image: url(/background-bw.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: brightness(0.85);
  background-attachment: fixed;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
  width: 100%;
  text-align: center;

  h1,
  span {
    display: block;
  }

  span {
    @include m.type-tiny;
  }
}

.section {
  margin-top: -5vw;
  margin-bottom: 14rem;
  text-align: center;
  width: 100%;
  position: relative;

  .h2,
  h2 {
    font-family: v.$main;
    letter-spacing: 2.5px;
    margin: 4rem 0 1rem;
    font-weight: 200;
    text-transform: uppercase;
  }

  h3 {
    font-family: v.$script;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
  }

  .large {
    font-size: 6vw;
    margin-bottom: 10rem;
    margin-top: 0;
  }
}

.cards {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  gap: 6rem;
  width: 100%;
  margin: 12rem auto;

  .card {
    flex: 0 1 50%;
    border: 1px solid rgb(var(--foreground-rgb));
    border-radius: 16px;
    max-width: 330px;
    background: transparent;
    transition: all 200ms ease-in-out;
    position: relative;
    overflow: hidden;

    &:hover {
      color: var(--box-bg);

      .img {
        opacity: 1;
        visibility: visible;
      }
    }

    a {
      display: block;
      padding: 100px 30px;
      position: relative;
      z-index: 1;
    }

    h2 {
      margin: 0 0 0.5rem;
      font-family: v.$script;
      font-size: 60px;
      letter-spacing: normal;
      text-transform: none;
    }

    span {
      display: block;
    }

    .details {
      margin-top: 3rem;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      white-space: nowrap;

      font-family: v.$main;
      letter-spacing: 2.5px;
      margin: 4rem 0 1rem;
      font-weight: 200;
      text-transform: uppercase;
    }
  }

  .img {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease-in-out;

    img {
      z-index: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

// .rsvp {
// @include m.type-tiny;
// padding: 18px 34px 14px;
// border: 1px solid;
// border-radius: 38px;
// transition: all 200ms ease-in-out;

// &:hover {
//   background: rgb(239 153 205 / 70%); // #c6ef99; // #ef99af
//   border: 1px solid rgb(239 153 205 / 70%);
// }
// }
