@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: inherit;
  width: 100%;
  max-width: 700px;
  z-index: 2;
  font-family: var(--font-mono);
  text-align: center;

  padding: 1.5rem 1.75rem;
  background-color: rgba(242, 240, 237, 1);

  h1 {
    font-family: v.$main;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: -0.5px;
    margin: 2rem auto;

    @include m.breakpoint(v.$md) {
      font-size: 42px;
      line-height: 60px;
      margin: 4rem auto;
    }

    i {
      font-family: v.$script;
      font-size: 48px;
      font-style: normal;
      line-height: inherit;

      @include m.breakpoint(v.$md) {
        font-size: 72px;
      }
    }
  }
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
