$sans: 'Authentic Sans';
$serif: 'Picnic Club';
$main: 'TT Ramillas';
$script: 'Bellissima Script Pro', cursive;

$black: #000000;
$soft-blue: hsl(207, 35%, 81%);
$soft-peach: hsl(25, 43%, 85%);
$soft-pink: hsl(2, 100%, 80%);
$soft-green: hsl(91, 23%, 73%);

$border: 16px;

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop-sm: 1200px;
$desktop: 1440px;
$sm: $mobile;
$md: $tablet;
$lg: $laptop;
$xl: $desktop;
$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
);
