@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(var(--foreground-rgb));
  color: rgb(var(--foreground-rgb));
  cursor: pointer;
  padding: 1.2rem 0 1rem;
  text-transform: uppercase;
  font-family: v.$sans;
  font-size: 10.2px;
  line-height: 1;
  letter-spacing: 0.25em;
  margin: 1rem 0 0;
  width: 100%;
  text-align: left;
}
